body {
	/* IOS禁止微信调整字体大小 */
	-webkit-text-size-adjust: 100% !important;
	text-size-adjust: 100% !important;
	-moz-text-size-adjust: 100% !important;
}

page {
	/* 定义一些主题色及基础样式 */
	font-family: PingFang SC, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
	font-size: 28rpx;
	font-weight: Medium;
	color: $uni-text-color;
	background-color: $uni-bg-color-grey;
}

@font-face {
	font-family: 'D-Dinexp';
	src: url('./D-DINExp/D-DINExp.otf') format('opentype');
}

@font-face {
	font-family: 'D-Dinexp-Bold';
	src: url('./D-DINExp/D-DINExp-Bold.otf') format('opentype');
}

.d-font {
	font-family: D-Dinexp;
}

.page {
	width: 100vw;
	height: 100vh;
}
.df-bg-color {
	background-color: $uni-bg-color-grey;
}
.margin-auto-tb {
	margin: auto 0;
}

.margin-auto-lr {
	margin: 0 auto;
}

.theme-color {
	color: #FFA24A;
}

.theme-bg-color {
	background-color: #FFA24A;
}

.bg-theme {
	background-color: #FFA24A;
}
.bg-clear {
	background-color: rgba(1, 1, 1, 0);
}
.text-c-msg {
	color: #86909C;
}

.text-c-msg2 {
	color: #4E5969;
}

.text-c-title {
	color: #1D2129;
}

.text-56 {
	font-size: 56rpx;
}
.line-height-20 {
	line-height: 40rpx;
}
.line-height-22 {
	line-height: 44rpx;
}

.line-height-24 {
	line-height: 48rpx;
}

.right-icon {
	width: 24rpx;
	height: 24rpx;
	background-image: url('../static/home/icon_12pt_right@2x.png');
}

.right-icon-sec {
	width: 32rpx;
	height: 32rpx;
	background-image: url('../static/detail/icon_right_sec.png');
}

.w-100 {
	width: 100%;
}

/* 超出隐藏 */
.line1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.line2 {
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.margin-lr-8 {
	margin-left: 16rpx;
	margin-right: 16rpx;
}

.margin-lr-12 {
	margin-left: 24rpx;
	margin-right: 24rpx;
}
.margin-lr-24 {
	margin-left: 48rpx;
	margin-right: 48rpx;
}
.margin-top-8 {
	margin-top: 16rpx;
}

.margin-bottom-8 {
	margin-bottom: 16rpx;
}

.margin-left-8 {
	margin-left: 16rpx;
}



.margin-top-12 {
	margin-top: 24rpx;
}

.margin-left-12 {
	margin-left: 24rpx;
}

.margin-top-16 {
	margin-top: 32rpx;
}

.margin-bottom-12 {
	margin-bottom: 24rpx;
}

.margin-bottom-16 {
	margin-bottom: 32rpx;
}

.margin-tb-2 {
	margin-top: 2rpx;
	margin-bottom: 2rpx;
}

.margin-tb-8 {
	margin-top: 16rpx;
	margin-bottom: 16rpx;
}

.margin-right-8 {
	margin-right: 16rpx;
}

.margin-tb-12 {
	margin-top: 24rpx;
	margin-bottom: 24rpx;
}

.margin-left-12 {
	margin-left: 24rpx;
}

.margin-right-12 {
	margin-right: 24rpx;
}

.margin-tb-16 {
	margin-top: 32rpx;
	margin-bottom: 32rpx;
}
.margin-12 {
	margin: 24rpx;
}
.padding-24 {
	padding: 48rpx;
}


.padding-lr-24 {
	padding-left: 48rpx;
	padding-right: 48rpx;
}


.padding-lr-8 {
	padding-left: 16rpx;
	padding-right: 16rpx;
}

.padding-lr-12 {
	padding-left: 24rpx;
	padding-right: 24rpx;
}

.padding-top-8 {
	padding-top: 16rpx;
}

.padding-bottom-8 {
	padding-bottom: 16rpx;
}

.padding-left-8 {
	padding-left: 16rpx;
}

.padding-bottom-12 {
	padding-bottom: 24rpx;
}

.padding-top-12 {
	padding-top: 24rpx;
}

.padding-tb-12 {
	padding-top: 24rpx;
	padding-bottom: 24rpx;
}

.padding-lr-12 {
	padding-left: 24rpx;
	padding-right: 24rpx;
}

.padding-left-16 {
	padding-left: 32rpx;
}

.padding-bottom-16 {
	padding-bottom: 32rpx;
}

.padding-lr-16 {
	padding-left: 32rpx;
	padding-right: 32rpx;
}

.padding-tb-16 {
	padding-top: 32rpx;
	padding-bottom: 32rpx;
}


.df-warp {
	width: 80rpx;
	height: 80rpx;
}

.lg-warp {
	width: 112rpx;
	height: 112rpx;
}

.xl-warp {
	width: 176rpx;
	height: 176rpx;
}

.radius-lg {
	border-radius: 16rpx;
}
.radius-12 {
	border-radius: 24rpx;
}
.solidm,
.solidm-top,
.solidm-right,
.solidm-bottom,
.solidm-left {
	position: relative;
}

.solidm::after,
.solidm-top::after,
.solidm-right::after,
.solidm-bottom::after,
.solidm-left::after {
	content: " ";
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	transform: scale(0.5);
	transform-origin: 0 0;
	pointer-events: none;
	box-sizing: border-box;
}

.solidm::after {
	border: 2upx solid rgba(0, 0, 0, 0.1);
}

.solidm-top::after {
	border-top: 2upx solid rgba(0, 0, 0, 0.1);
}

.solidm-bottom::after {
	border-bottom: 2upx solid rgba(0, 0, 0, 0.1);
}

.solidm-left::after {
	border-left: 2upx solid rgba(0, 0, 0, 0.1);
}

.solidm-right::after {
	border-right: 2upx solid rgba(0, 0, 0, 0.1);
}